<div class="form-group has-success has-feedback">
  <form action="//baidu.com/s" method="get" target='_blank' accept-charset="utf-8" >
    <input type="search" name="wd" results="0" placeholder="<%= __('search') %>" class="form-control">
    <input type="hidden" name="id" value="site:<%- config.url.replace(/^https?:\/\//, '') %>">	
  </form>
</div>
